// PRIMARY
$color-font-heading-main: hsl(233, 13%, 49%);
$color-font-price: hsl(232, 13%, 33%);
$color-font-heading-card: hsl(233, 13%, 49%);
$color-font-heading-light: hsla(233, 13%, 49%, 0.25);
$color-font-features: hsl(233, 13%, 49%);
$color-font-billing: hsl(234, 14%, 74%);
$color-bg-body: hsl(240, 78%, 98%);
$color-grey: hsla(219, 20%, 36%, 1);
$color-white: hsla(0, 0%, 100%, 1);
$color-white-light: hsla(0, 0%, 100%, 0.25);
$color-font-blue: hsla(237, 63%, 65%, 1);

// GRADIENT
$color-gradient: linear-gradient(135deg, #a2a7f0 0%, #696edd 100%);
