@use "../abstracts" as *;

.btn {
  &,
  &:link,
  &:visited {
    background: $color-gradient;
    display: inline-block;
    padding: 12px;
    width: min(100% - 2 * 24px, 288px);
    text-transform: uppercase;
    font-family: $default-font-stack;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 1.39286px;
    color: $color-white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.2s;
  }

  // &:active {
  //   transform: scale(1.02);
  // }

  &:hover,
  &:active {
    background: $color-white;
    color: $color-font-blue;
    border: $color-font-blue solid 1px;
    padding: 11px;
  }

  @include focus-styles($color-font-blue, 5px);

  &--white {
    background: $color-white;
    color: $color-font-blue;

    &:hover {
      background-color: transparent;
      color: $color-white;
      border: $color-white solid 1px;
    }

    @include focus-styles($color-white, 5px);
  }
}
