@use "../abstracts" as *;

.card {
    @include flex-column-align-center;
    background: $color-white;
    width: min(100%, 21.875rem);
    box-shadow: 0px 1.25rem 2.5rem rgba(212, 210, 244, 0.5);
    border-radius: 0.625rem;
    padding: 1.9375rem 1.8125rem;
    margin-left: auto;
    margin-right: auto;

    @include respond(big-screen) {
        padding: 1.9375rem;
    }

    &__header {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    &__price {
        display: flex;
        align-items: center;
        margin-top: 1.5rem;
        font-size: 2.5rem;
        line-height: 3.0625rem;
        color: $color-font-price;

        & span {
            font-size: 4.5rem;
            line-height: 4.4375rem;
            letter-spacing: -2.16px;
            margin-left: 0.4375rem;
        }
    }

    &__features {
        width: min(100% - 2 * 24px, 18rem);
        list-style-type: none;
        margin-top: 2rem;
        border-bottom: 1px solid $color-font-heading-light;
    }

    &__feature {
        padding: 0.75rem;
        text-align: center;
        border-top: 1px solid $color-font-heading-light;
    }

    &__btn {
        margin-top: 2rem;
    }

    &--blue {
        background: $color-gradient;
        color: $color-white;

        @include respond(big-screen) {
            padding: 3.4375rem 1.9375rem;
        }

        & .card__price {
            color: $color-white;
        }

        & .card__features {
            border-color: $color-white-light;
        }

        & .card__feature {
            border-color: $color-white-light;
        }
    }
}
